.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.jumbotron {
  margin-top: 15px;
}

.canvas-container {
  position: relative;
  width: 100%;
  margin: 70px auto 20px;

  .canvas {
    border: 1px solid;
  }

  canvas {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

// injector
// endinjector
