.paint-angular .jumbotron {
  margin-top: 15px;
  background-color: transparent; }
.paint-angular .canvas-container {
  position: relative;
  width: 100%;
  margin: 40px auto 20px;
  border: 1px solid; }
  .paint-angular .canvas-container canvas {
    position: absolute;
    top: 0px;
    left: 0px; }
.paint-angular .color-picker {
  display: inline-block;
  width: 80px;
  margin-top: 5px; }
.paint-angular select.btn {
  margin-top: 11px;
  height: 30px;
  margin-left: 10px !important; }
.paint-angular .paintangular-toolbar {
  height: 50px; }
